.header {
  background-color: powderblue;
  border-radius: 10px;
}

.stuff-header {
  background-color: #e7e8d9;
  border-radius: 10px;
}
body {
  background-color: #a5a9d8;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
figure {
  background-color: #e7e8d9;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
  display: inline-block;
}
img {
  width: 150px;
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer {
  background-color: pink;
  border-radius: 10px;
}

div.lg-item,
div.lg-loaded,
div.lg-current,
div.lg-complete {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
